<header>
  <div class="container">
    <nav>
      <div class="brand">
        <div>
          <a href="index.html" aria-label="Ir para o início">
            <img src="assets/Logo Metalcoop.png" alt="Logo Metalcoop" width="100" height="50">
          </a>
        </div>  
      </div>
      <div class="nav-right">
        <div class="tabs" role="tablist" aria-label="Navegação principal">
          <a class="tab" href="index.html">Home</a>
          <a class="tab" href="empresa.html">A Empresa</a>
          <a class="tab" href="produtos.html">Produtos</a>
          <a class="tab" href="clientes.html">Clientes</a>
          <a class="tab" href="contato.html">Contato</a>
        </div>
        <div class="social-icons">
          <a href="https://www.facebook.com/profile.php?id=61577609887152" target="_blank" rel="noopener" aria-label="Facebook">
            <img class="social-icon" src="assets/redes/icone_facebook.png" alt="" width="18" height="18">
          </a>
          <a href="https://www.instagram.com/metalcoop_salto/" target="_blank" rel="noopener" aria-label="Instagram">
            <img class="social-icon" src="assets/redes/icone_instagram.png" alt="" width="18" height="18">
          </a>
          <a href="https://www.linkedin.com/company/metalcoop-industria/?viewAsMember=true" target="_blank" rel="noopener" aria-label="LinkedIn">
            <img class="social-icon" src="assets/redes/icone_linkedIn.png" alt="" width="18" height="18">
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
